Node red fow to post to twitter using mqtt
[{"id":"8e7e7f48.62acb","type":"mqtt-broker","z":"5f6f66b2.6c1948","broker":"iot.eclipse.org","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"b73427d6.aa7338","type":"mqtt in","z":"5f6f66b2.6c1948","name":"mqtt","topic":"pratik/data","broker":"8e7e7f48.62acb","x":101,"y":106,"wires":[["aeacb514.36c8d8","f4a83a0b.4d6bb8"]]},{"id":"aeacb514.36c8d8","type":"function","z":"5f6f66b2.6c1948","name":"mqtt msg function","func":"if(msg.payload=='led_on')\n{\n    msg.payload=1;\n}\nif(msg.payload=='led_off')\n{\n    msg.payload=0;\n}\nreturn msg;","outputs":1,"noerr":0,"x":304,"y":222,"wires":[["f4a83a0b.4d6bb8","a3ae5510.1bbec8"]]},{"id":"f4a83a0b.4d6bb8","type":"debug","z":"5f6f66b2.6c1948","name":"","active":true,"console":"false","complete":"false","x":511,"y":104,"wires":[]},{"id":"a3ae5510.1bbec8","type":"twitter out","z":"5f6f66b2.6c1948","name":"Tweet","x":546,"y":219,"wires":[]}]